.login{
    width:100vw;
    height:100vh;
    background-color: #f0f2f5;
    display:flex;
    align-items: center;
    justify-content: center;

}

.flex-container{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-box{
	width:301px;
	height:200px;	
	border-radius:10px;
	background-color:gray;
    margin:10px;

}

.parrafo{
    color: aliceblue;
    position: relative;
    left: 20px;
    top: 20px;
}
.myserver{
    color: aliceblue;
    position: relative;
    left: 10px;
    top: 10px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: gold;
    width: 48px;
    height: 48px;
    font-size: 24px;
    position: relative;
    left: 20px;
    top: 20px;
}


.loginWrapper{
    width:70%;
    height: 70%;
    display:flex;
}

.loginLeft,.loginRight{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content:center;
}



.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: rgba(237, 39, 75, 0.714);
    margin-bottom: 10px;
}

.loginDesc{
    font-size: 28px;
}

.loginBox{
    height:300px;
    padding:20px;
    background-color: white;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}


.loginInput{
    height:50px;
    border-radius: 10px;
    border:1px solid gray;
    font-size: 20px;
    padding-left: 20px;
}

.loginButton:focus{
    outline: none;
}

.loginButton:disabled{
    cursor:not-allowed;
}

.loginButton{
    height:50px;
    border-radius: 10px;
    border:none;
    background-color: rgba(237, 39, 75, 0.714); 
    color:white;
    font-size:20px;
    font-weight: 500;
    cursor:pointer;
}

.loginForgot{
    text-align: center;
    color: rgba(237, 39, 75, 0.714);  
}


.loginRegisterButton{
    width:60%;
    align-self: center;
    height:50px;
    border-radius: 10px;
    border:none;
    background-color: rgba(21, 34, 24, 0.714); 
    color:white;
    font-size:20px;
    font-weight: 500;
    cursor:pointer;
}

.newlogo{
    width:80%;
}

