
*{
    background-color: black;
}
.fronFrame{
    display: flex;
    justify-content: center;
    color:aliceblue;
    position: relative;
    left:140%;

}

.newButtion{
    position: relative;
    left:140%;
    color:aliceblue;
    display: flex;
    justify-content: center;
}
.redButton{
    background-color: rgb(218, 36, 36);
    width:32%;
}
.submitbutton{
    width:70px;
    height:44px;
}

.BorrarTodo{
display: flex;
    justify-content: center;
    position: relative;
    left: 150%;
    width: 100%;
    background-color: blueviolet;
}    